ElectricAppliancesModule/src/localhost_8080/ElectricAppliancesWebService/Service4Service.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.gstam.labisp.tded.di.uoa.gr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.gstam.labisp.tded.di.uoa.gr/" name="Service4Service">
<types>
<xsd:schema>
<xsd:import namespace="http://services.gstam.labisp.tded.di.uoa.gr/" schemaLocation="http://localhost:8080/ElectricAppliancesWebService/Service4Service?xsd=1"/>
</xsd:schema>
</types>
<message name="isProductAvailable">
<part name="parameters" element="tns:isProductAvailable"/>
</message>
<message name="isProductAvailableResponse">
<part name="parameters" element="tns:isProductAvailableResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="bookProduct">
<part name="parameters" element="tns:bookProduct"/>
</message>
<message name="bookProductResponse">
<part name="parameters" element="tns:bookProductResponse"/>
</message>
<message name="cancelBookProduct">
<part name="parameters" element="tns:cancelBookProduct"/>
</message>
<message name="cancelBookProductResponse">
<part name="parameters" element="tns:cancelBookProductResponse"/>
</message>
<portType name="Service4">
<operation name="isProductAvailable">
<input wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service4/isProductAvailableRequest" message="tns:isProductAvailable"/>
<output wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service4/isProductAvailableResponse" message="tns:isProductAvailableResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service4/isProductAvailable/Fault/IOException"/>
</operation>
<operation name="bookProduct">
<input wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service4/bookProductRequest" message="tns:bookProduct"/>
<output wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service4/bookProductResponse" message="tns:bookProductResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service4/bookProduct/Fault/IOException"/>
</operation>
<operation name="cancelBookProduct">
<input wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service4/cancelBookProductRequest" message="tns:cancelBookProduct"/>
<output wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service4/cancelBookProductResponse" message="tns:cancelBookProductResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service4/cancelBookProduct/Fault/IOException"/>
</operation>
</portType>
<binding name="Service4PortBinding" type="tns:Service4">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="isProductAvailable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="bookProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="cancelBookProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Service4Service">
<port name="Service4Port" binding="tns:Service4PortBinding">
<soap:address location="http://localhost:8080/ElectricAppliancesWebService/Service4Service"/>
</port>
</service>
</definitions>