ElectricAppliancesModule/src/localhost_8080/ElectricAppliancesWebService/Service5Service.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.gstam.labisp.tded.di.uoa.gr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.gstam.labisp.tded.di.uoa.gr/" name="Service5Service">
<types>
<xsd:schema>
<xsd:import namespace="http://services.gstam.labisp.tded.di.uoa.gr/" schemaLocation="http://localhost:8080/ElectricAppliancesWebService/Service5Service?xsd=1"/>
</xsd:schema>
</types>
<message name="cartCost">
<part name="parameters" element="tns:cartCost"/>
</message>
<message name="cartCostResponse">
<part name="parameters" element="tns:cartCostResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="chargeCard">
<part name="parameters" element="tns:chargeCard"/>
</message>
<message name="chargeCardResponse">
<part name="parameters" element="tns:chargeCardResponse"/>
</message>
<message name="refund">
<part name="parameters" element="tns:refund"/>
</message>
<message name="refundResponse">
<part name="parameters" element="tns:refundResponse"/>
</message>
<portType name="Service5">
<operation name="cartCost">
<input wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service5/cartCostRequest" message="tns:cartCost"/>
<output wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service5/cartCostResponse" message="tns:cartCostResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service5/cartCost/Fault/IOException"/>
</operation>
<operation name="chargeCard">
<input wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service5/chargeCardRequest" message="tns:chargeCard"/>
<output wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service5/chargeCardResponse" message="tns:chargeCardResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service5/chargeCard/Fault/IOException"/>
</operation>
<operation name="refund">
<input wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service5/refundRequest" message="tns:refund"/>
<output wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service5/refundResponse" message="tns:refundResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://services.gstam.labisp.tded.di.uoa.gr/Service5/refund/Fault/IOException"/>
</operation>
</portType>
<binding name="Service5PortBinding" type="tns:Service5">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cartCost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="chargeCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="refund">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Service5Service">
<port name="Service5Port" binding="tns:Service5PortBinding">
<soap:address location="http://localhost:8080/ElectricAppliancesWebService/Service5Service"/>
</port>
</service>
</definitions>